<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css')}}">
    <title>Medienliste</title>
  </head>
  <body>
    <!-- Navigation bar - icon and title -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="{{ url_for('Startseite') }}">
        <img src="/static/pictures/rocket.png" width="50" height="50"
             class="d-inline-block align-top" alt="">
      </a>
      <a class="navbar-brand" href="{{ url_for('Startseite') }}">Rocket Science</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
              aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    <!-- End Navigation bar - icon and title -->
      <!-- Navigation bar with content -->
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a class="nav-link" href="{{ url_for('Startseite') }}"><font size="+1">Startseite</font><span
                    class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="{{ url_for('Serien') }}"><font size="+1">Serien</font></a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="{{ url_for('Filme') }}"><font size="+1">Filme</font></a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="{{ url_for('Buecher') }}"><font size="+1">Bücher</font></a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="{{ url_for('Spiele') }}"><font size="+1">Spiele</font></a>
          </li>
        </ul>
      </div>
      <!-- End Navigation bar with content -->
      <!-- Navigation bar Top right -->
        <ul class="nav navbar-nav navbar-right">
        <li class="nav-item active">
          <a class="nav-link ml-auto" href="{{ url_for('Kontakt') }}" aria-disabled="true">
            <font size="+1">Kontakt</font></a>
        </li>
        </ul>
    </nav>
    {% block content %}
    {% endblock %}
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
  </body>
</html>
